# ---------------------------------
# Common aliases
# ---------------------------------

alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ps-grep='ps aux | grep'
alias hosts='code /etc/hosts'
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'


# ---------------------------------
# Git specific aliases
# ---------------------------------

alias nah='git reset --hard;git clean -df'
alias glog='git log --graph --decorate --pretty=oneline --abbrev-commit'
alias gloga='git log --graph --decorate --pretty=oneline --abbrev-commit --all'
alias glogs='git log --show-signature'


# ---------------------------------
# Dummy
# ---------------------------------

alias shrug="printf '¯\_(ツ)_/¯' | pbcopy"
alias flipt="printf '(╯°□°)╯︵ ┻━┻' | pbcopy"
alias fight="printf '(ง'̀-'́)ง' | pbcopy"
